* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}
html {
  scroll-behavior: smooth;
}

.section {
  border-top: 1px solid #bcd6a3;
  transition: transform 0.7s, opacity 0.7s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
/* HEADER */

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: rgba(75, 124, 53, 0.8);
  width: 100%;
  height: 80px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

.nav.sticky {
  position: fixed;
  margin-top: 0px;
}

header h1 {
  cursor: pointer;
}
.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  transition: all 0.3s ease 0s;
}
.nav_links li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.nav_links li a:hover {
  color: #a6c48a;
}

.search-bar {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 0 12px;
  margin: 10px;
}

.search-bar input {
  background: transparent;
  border: 0;
  outline: none;
  padding: 16px 20px;
  font-size: 20px;
  width: 500px;
  flex: 1;
}
::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search-bar button img {
  width: 25px;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: transparent;
  cursor: pointer;
}

.hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0.55rem;
  right: 1rem;
}

/* LANDING PAGE */
.landing-pg {
  background: url(food-imgs/background.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 80px;
}
h1.title {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 280px;
  font-size: 3rem;
}

.icon {
  position: relative;
}

.pie {
  margin-left: 700px;
  top: 100px;
  height: 6rem;
  width: 6rem;
}

.btn-latest {
  font-size: 2rem;
  background-color: #678d58;
  border: none;
  padding: 10px 12px;
  color: #fff8e7;
  margin-left: 470px;
  margin-top: 20px;
  box-shadow: 5px 10px;
}

.btn-latest:hover {
  box-shadow: 5px 6px;
  transform: translateY(2px);
  cursor: pointer;
  background-color: #7ba16d;
  transition: transform 0.25s ease-in;
}

/* .arrow {
  height: 4rem;
  width: 4rem;
  left: 760px;
} */

/* LATEST RECIPES SECTION */
.latest-recipe-page {
  min-height: 550px;
}

h2 {
  padding-top: 60px;
  padding-left: 500px;
  /* padding-bottom: 20px; */
  font-size: 30px;
  font-weight: 400;
}

.slider {
  position: relative;
  height: 400px;
  overflow: hidden;
}
.slide {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-left: 460px;
  margin-top: 30px;
  gap: 10px;
  width: 600px;
  background-color: #fff8e7;
}
.slider-img {
  height: 320px;
  width: 240px;
}
.slide-descrip {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.slide-title {
  text-align: start;
}
.slide-descrip p {
  line-height: 25px;
}
.slide-btn {
  position: absolute;
  z-index: 10;
  top: 40%;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  font-family: inherit;
  color: white;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slide-btn--left {
  left: 6%;
  transform: translate(250%, -50%);
}

.slide-btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}
.dots {
  position: absolute;
  bottom: 5%;
  left: 5%;
  transform: translate(550%, 100%);
  display: flex;
}

.dots-dot {
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}
.dots-dot:last-child {
  margin: 0;
}

.dots-dot--active {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-view {
  font-size: 20px;
  background-color: #a6c48a;
  color: black;
  padding: 12px 15px;
  border-radius: 3%;
  cursor: pointer;
}

.btn-view:hover {
  background-color: #bcd6a3;
}

/* POPULAR RECIPES SECTION */
.fork {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  margin-left: 440px;
  padding-right: 3px;
}
.section-popular h1 {
  display: inline-block;
  padding: 50px 0px;
  text-align: center;
  font-size: 40px;
}

.section-popular {
  min-height: 700px;
  background-color: #fff8e7;
}

.section-pop-recipes {
  display: flex;
  justify-content: center;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 15px;
  min-height: 300px;
  flex: 1;
}

.food-imgs {
  height: 420px;
  width: 320px;
  margin-bottom: 10px;
}

.recipe-name {
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.recipe-name:hover {
  font-size: 32px;
  transition: all 0.4s ease-out;
}

/* RECIPE PAGES */
.recipe-page-title {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.recipe-page-header {
  height: 100vh;
  font-size: 20px;
}
.recipe-page-header p {
  text-align: center;
  font-size: 16px;
  padding: 10px;
}
.recipe-ing {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.recipe-page-img {
  height: 400px;
  width: 290px;
  border: 2px solid #678d58;
}
.recipe-ing ul li,
.recipe-steps ol li {
  align-self: center;
  padding: 5px 0px;
  height: fit-content;
}
h3 {
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
  padding: 10px;
  font-size: 24px;
}
span.ingr-needed {
  font-weight: 600;
}
span.for {
  color: #678d58;
}
.recipe-steps ol {
  text-align: start;
  padding: 20px;
  line-height: 34px;
  padding: 30px;
  margin: 0 20px;
}
.recipe-steps ol li {
  list-style: none;
  font-size: 20px;
}
.recipe-steps span {
  font-size: 30px;
  color: #678d58;
}

#btn-all {
  background-color: black;
  color: #fff8e7;
  font-size: 20px;
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.button {
  text-align: center;
  margin-bottom: 8px;
}

/* MEDIA QUERIES */
@media (max-width: 760px) {
  .hamburger {
    display: flex;
  }

  .nav_links {
    display: none;
    background-color: rgba(86, 122, 91, 0.8);
    transform: translateY(6rem);
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }
  .search-bar {
    background: #a6c48a;
  }

  .nav_links.active {
    display: flex;
  }

  .slide {
    margin-left: 30px;
  }

  .fork {
    margin-left: 50px;
  }
}

@media (max-width: 1040px) {
  .search-bar input {
    width: 230px;
    transition: width 0.4s ease-in;
  }
}

@media (max-width: 960px) {
  .title {
    margin-left: 70px;
  }
  .pie,
  .btn-latest {
    margin-left: 290px;
  }
  .title,
  .pie {
    transition: all 0.4s ease-in;
  }

  .slide {
    margin-left: 90px;
  }

  .slide-btn {
    display: none;
  }

  .dots {
    transform: translate(320%);
  }

  .section-pop-recipes {
    flex-direction: column;
  }

  .fork {
    margin-left: 200px;
  }
}
