* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

/* HEADER */

.nav {
  height: 480px;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #678d58;
  height: 80px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

.nav.sticky {
  position: fixed;
  background-color: rgba(33, 92, 6, 0.8);
  width: 100%;
}

header h1 {
  cursor: pointer;
}
.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  transition: all 0.3s ease 0s;
}
.nav_links li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.nav_links li a:hover {
  color: #a6c48a;
}

.search-bar {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 0 12px;
  margin: 10px;
}

.search-bar input {
  background: transparent;
  border: 0;
  outline: none;
  padding: 16px 20px;
  font-size: 20px;
  width: 500px;
  flex: 1;
}
::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search-bar button img {
  width: 25px;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: transparent;
  cursor: pointer;
}

.hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0.55rem;
  right: 1rem;
}

/* LANDING PAGE */
.landing-pg {
  background: url(food-imgs/background2.jpg) no-repeat;
  background-size: cover;
  height: 500px;
  padding-top: 80px;
}
h1.title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: 360px;
  font-size: 3rem;
}

.icon {
  position: relative;
}

.pie {
  margin-left: 400px;
  top: 20px;
  height: 6rem;
  width: 6rem;
}

.arrow {
  height: 4rem;
  width: 4rem;
  left: 760px;
}

/* POPULAR RECIPES PAGE */
.chilli {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  margin-left: 440px;
  padding-right: 3px;
}
.section-popular h1 {
  display: inline-block;
  padding: 50px 0px;
  text-align: center;
  font-size: 40px;
}

.section-popular {
  background: #fff8e7;
  min-height: 600px;
}

.section-pop-recipes {
  display: flex;
  justify-content: center;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 15px;
  min-height: 300px;
  flex: 1;
}

.food-imgs {
  height: 200px;
  min-width: 100px;
  border-radius: 50%;
  /* border: 2px solid #dd9787; */
}

.recipe-name {
  text-decoration: none;
  font-size: 30px;
  color: black;
}
.recipe-desc {
  text-align: center;
  padding: 10px;
}

h3,
h2 p,
.desc {
  text-align: center;
  padding: 10px;
  margin: 15px;
}

h2 p {
  text-align: center;
  padding: 5px;
  font-size: 17px;
}

#btn-all {
  background-color: black;
  color: #fff8e7;
  font-size: 20px;
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.button {
  text-align: center;
  margin-bottom: 8px;
}

.description {
  display: flex;
  justify-content: center;
  margin: 10px 20px;
}

.images {
  display: flex;
  justify-content: space-around;
}

.sec-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-position: inside;
  background-color: #fff8e7;
  flex-grow: 1;
}

.sec-recipe.ingr {
  flex-grow: 2;
}

section.steps {
  margin: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff8e7;
}

ul.list,
ol.list {
  margin: 0;
  padding: 0;
}

/* MEDIA QUERIES */
@media (max-width: 760px) {
  .hamburger {
    display: flex;
  }

  .nav_links {
    display: none;
    background-color: rgba(86, 122, 91, 0.8);
    transform: translateY(6rem);
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }
  .search-bar {
    background: #a6c48a;
  }

  .nav_links.active {
    display: flex;
  }
}

@media (max-width: 1040px) {
  .search-bar input {
    width: 230px;
    transition: width 0.4s ease-in;
  }
  .arrow {
    display: none;
  }
}

@media (max-width: 960px) {
  .title {
    margin-left: 70px;
  }
  .pie {
    margin-left: 80px;
  }
  .title,
  .pie {
    transition: all 0.4s ease-in;
  }
}
